__INGEST_CRON_SCHEDULE__ python -m workers.company_news_worker >> /proc/1/fd/1 2>> /proc/1/fd/2
__MARKET_NEWS_CRON_SCHEDULE__ python -m workers.market_news_worker --once >> /proc/1/fd/1 2>> /proc/1/fd/2
